@use "sass:color";

@import url('https://fonts.googleapis.com/css?family=Questrial&display=swap');
@import url('https://fonts.googleapis.com/css?family=Crimson+Text&display=swap');

$font-family-sans-serif: "Questrial", sans-serif;
$font-family-serif: "Crimson Text", serif;

$primary: #222;
$secondary: #c73333;
$bg: color.scale($secondary, $lightness: 0%);
